In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql+psycopg2://admin:password@localhost/lies')

In [3]:
%%time
q= """SELECT alphanumeric(20) FROM GENERATE_SERIES(1,1000000)"""
r = engine.execute(q)
len(r.fetchall())

CPU times: user 4.58 s, sys: 1.05 s, total: 5.63 s
Wall time: 53.9 s

1000001

In [7]:
%%time
q= """SELECT concat(alphanumeric(5),'-',rand_numeric(3)) from generate_series(1,1000000);"""
r = engine.execute(q)
len(r.fetchall())

CPU times: user 1.24 s, sys: 154 ms, total: 1.4 s
Wall time: 15.2 s

1000000

In [8]:
country_codes = ['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AW', 'AX', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT', 'BV', 'BW', 'BY', 'BZ', 'CA', 'CC', 'CD', 'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV', 'CW', 'CX', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG', 'EH', 'ER', 'ES', 'ET', 'FI', 'FJ', 'FK', 'FM', 'FO', 'FR', 'GA', 'GB', 'GD', 'GE', 'GF', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GP', 'GQ', 'GR', 'GS', 'GT', 'GU', 'GW', 'GY', 'HK', 'HM', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IM', 'IN', 'IO', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'ME', 'MF', 'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MQ', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', 'NA', 'NC', 'NE', 'NF', 'NG', 'NI', 'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OM', 'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PM', 'PN', 'PR', 'PS', 'PT', 'PW', 'PY', 'QA', 'RE', 'RO', 'RS', 'RU', 'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SH', 'SI', 'SJ', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SX', 'SY', 'SZ', 'TC', 'TD', 'TF', 'TG', 'TH', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'UM', 'US', 'UY', 'UZ', 'VA', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF', 'WS', 'YE', 'YT', 'ZA', 'ZM', 'ZW']

In [15]:
%%time
q = f"""SELECT random_choice(ARRAY['{"', '".join(country_codes)}']) from generate_series(1,1000000)"""
r = engine.execute(q)
len(r.fetchall())

CPU times: user 1.28 s, sys: 240 ms, total: 1.52 s
Wall time: 2.2 s

1000000

In [22]:
%%time
q = f"""SELECT
row_number() OVER () as id,
concat(alphanumeric(5),'-',rand_numeric(3)) as licence_number,
rand_numeric(3) as tax_type,
rand_numeric(2) as port,
random_date_bounded('1971-01-02'::TIMESTAMP, '2022-01-01'::TIMESTAMP) as import_date,
random_date_bounded('1971-01-02'::TIMESTAMP, '2022-01-01'::TIMESTAMP) as tax_date,
random_choice(ARRAY['{"', '".join(country_codes)}']) as from_country
from generate_series(1,1000000)"""

CPU times: user 12 µs, sys: 2 µs, total: 14 µs
Wall time: 17.9 µs

In [ ]:
r = engine.execute(q)
len(r.fetchall())

In [27]:
%%time

df = pd.read_sql(q, engine, index_col='id')
df

CPU times: user 5.66 s, sys: 674 ms, total: 6.34 s
Wall time: 20.8 s

,licence_number,tax_type,port,import_date,tax_date,from_country
id,,,,,,
1,683B3-889,123,48,2013-03-14 22:15:46.573409,1989-09-17 23:53:10.399180,MF
2,9E580-689,732,42,1993-10-24 16:43:22.707408,1983-05-24 05:07:19.379255,SE
3,B6799-476,112,63,1974-03-31 04:38:01.857322,2021-11-25 06:45:47.829774,BD
4,53BEC-584,331,77,1978-04-15 19:22:26.171665,2000-01-17 21:39:50.645285,PW
5,157F6-657,465,52,1971-04-13 07:04:50.221795,1984-04-08 05:14:37.617786,MU
...,...,...,...,...,...,...
999996,8AC86-200,193,90,1991-10-11 19:18:26.572798,1980-01-18 09:14:56.343088,ZA
999997,073A8-943,386,51,1997-08-06 23:06:48.215221,2020-12-13 21:45:00.772607,IE
999998,B0FB0-082,655,19,1984-04-22 19:24:14.432197,1990-08-09 05:12:23.460214,IS
999999,ACF02-014,927,60,2000-07-16 11:39:53.499183,1982-02-03 15:21:04.159823,CG
1000000,CC1F5-219,827,73,1974-08-13 01:31:45.952569,2016-07-02 01:25:32.488255,NG

In [25]:
%%time
df.to_csv("1m rows.csv")

CPU times: user 6.91 s, sys: 67 ms, total: 6.98 s
Wall time: 6.97 s

In [36]:
%%time
q = f"""WITH initial_columns as (SELECT
row_number() OVER () as id,
concat(alphanumeric(5),'-',rand_numeric(3)) as licence_number,
rand_numeric(3) as licence_type,
rand_numeric(2) as port,
random_date_bounded('1971-01-02'::TIMESTAMP, '2022-01-01'::TIMESTAMP) as import_date,
NULL as tax_date,
random_choice(ARRAY['{"', '".join(country_codes)}']) as from_country,
random_choice(ARRAY['yes', 'no', NULL]) as paid
from generate_series(1,1000000))

SELECT id, licence_type, tax_type, port, import_date, random_date_bounded(import_date, now() at TIME ZONE 'UTC') as tax_date, from_country, paid from initial_columns
"""
df = pd.read_sql(q, engine)
df

CPU times: user 5.99 s, sys: 487 ms, total: 6.48 s
Wall time: 23 s

,id,licence_number,tax_type,port,import_date,tax_date,from_country,paid
0,1,74783-072,987,32,2018-08-04 05:44:04.559022,2020-02-24 02:20:43.193821,VA,yes
1,2,B6BBB-498,471,99,1972-05-06 22:20:26.744226,2022-02-02 08:57:10.586134,OM,None
2,3,70EA3-068,122,30,1985-11-22 01:25:37.134229,2021-09-22 01:54:19.734956,GD,None
3,4,00255-734,047,06,1986-06-09 15:05:21.612354,1999-09-29 02:19:51.304651,LS,None
4,5,A197E-053,432,53,2008-06-07 23:29:31.284309,2015-03-03 19:48:11.409785,KG,no
...,...,...,...,...,...,...,...,...
999995,999996,84385-526,944,58,2006-06-28 11:36:34.427922,2015-02-15 20:50:20.785995,GI,yes
999996,999997,DBAD7-803,247,55,1979-09-24 17:16:08.685048,1981-09-10 13:02:56.202826,GG,yes
999997,999998,D042A-931,347,50,2016-01-24 11:42:50.510951,2021-05-25 01:07:32.946816,SI,yes
999998,999999,86E53-578,531,79,1985-09-24 12:50:11.810478,2011-06-12 21:16:48.424981,CO,yes
999999,1000000,71B63-598,948,41,1972-04-07 15:02:33.834070,1982-12-14 21:45:59.266015,JE,yes